REACT_APP_API_URL=http://localhost:5000/api
REACT_APP_FIREBASE_API_KEY=AIzaSyBE5HAG2wM3lwvwrYnLN2QBiQP2Kuc9n98
REACT_APP_FIREBASE_AUTH_DOMAIN=whizz-3fcf2.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=whizz-3fcf2
REACT_APP_FIREBASE_STORAGE_BUCKET=whizz-3fcf2.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=1059784565994
REACT_APP_FIREBASE_APP_ID=1:1059784565994:web:919f341f17b091f80ae393
REACT_APP_FIREBASE_MEASUREMENT_ID=G-8N6M0TD52Z
